.login-form-container {
    border: 1px solid #ccc; /* Light gray border */
    padding: 20px;          /* Padding inside the border */
    border-radius: 8px;     /* Rounded corners */
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.btn {
    display: inline-block;
    background: #4183F2;
    color: #fff;
    padding: 8px 30px; /**topbot rightleft**/
    border-radius: 30px;
    border: none;
    transition: background 0.5s;
  }

  .btn:hover{
    background: #57b7ff;
    color: #2e2f2f;
  }

  .link {
    text-decoration: none;
    color: #016285;
    font-size: 18px;
    padding: 3px 7px;
    border: 2px solid #03ced3;
    border-radius: 5px;
    margin: 20px 6px 0px;
    /**top rightleft bottom*/
    display: inline-block;
  }
  
  .link:hover {
    border: 2px solid #f54141;
  }
